.DS_Store
.idea
data/
models/
parsey/
stanford/
external/lib/
external/bin/
allenai_openie/
clausie/
temp/
training/
output/html/*
output/*.*
.env/
*.bin
*.txt
*.zip
*.pyc
internallib/__pycache_
internallib/__pycache__/