<html>
<head>
    <title>Results</title>
    <link rel="stylesheet" href="assets/colorbox.css" />
    <script type="text/javascript" src="assets/jquery.min.js"></script>
    <script type="text/javascript" src="assets/jquery.colorbox-min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(".sentences_group").colorbox({rel:'sentences_group', transition:"none", width:"95%", height:"95%"});
            });
        </script>
</head>
<body>

<p>All sentences in corpus with word "<strong>{{ word }}</strong>", organised in <strong>{{ groups_num }} groups</strong>: </p>

{{ all_sentences }}

<hr />

</body>
</html>