<html>
<head>
    <title>Results</title>
    <link rel="stylesheet" href="assets/colorbox.css" />
    <script type="text/javascript" src="assets/jquery.min.js"></script>
    <script type="text/javascript" src="assets/jquery.colorbox-min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(".sentences_group").colorbox({rel:'sentences_group', transition:"none", width:"95%", height:"95%"});
            });
        </script>
</head>
<body>

<p>All sentences in corpus with word "<strong>{{ word }}</strong>":</p>
<ul>
  <li>Organised in <strong>{{ groups_num }} groups</strong></li>
  <li>Group with most sentences has <strong>{{ max_group_num }} sentences</strong></li>
  <li>Average sentences per group is <strong>{{ average_per_group }}</strong></li>
  <li>Max number of parameters in a relation is <strong>{{ max_num_params }}</strong></li>
</ul>

{{ all_sentences }}

<hr />

</body>
</html>